.page-section4 {
  width: 2000px;
  height: 751px;
  display: flex;
  justify-content: right;

  background-color: #0e1a35;
  background-position-y: -5px;
  background-image: url(../src/section4-graph-grid.png);
}

.page-section4-drag-drop {
  width: 1000px;
  height: 750px;
}

.page-section4-description {
  width: 1000px;
  height: 750px;
}

.page-section4-description .description {
  margin: 0 0 0 0;
  padding: 100px 0 0 100px;

  height: 400px;
  width: 700px;
}

.page-section4-description .description .header {
  margin: 50px 0 0 0;
  padding: 62px 0 0 51px;

  height: 100px;
  width: 400px;

  font-size: 60px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 250;
  font-family: "Roboto", sans-serif;
}

.page-section4-description .description .desc-p p {
  margin: 0 0 0 51px;
  padding: 10px 0 0 7px;

  width: 518px;
  height: 79px;
  line-height: 28px;
  font-size: 18px;
  color: #8492af;
  font-weight: 400;
  font-family: "Roboto";
}

.page-section4-drag-drop-header {
  margin: 20px 100px 0 100px;
  padding: 100px 45px 0 45px;

  width: 750px;
  height: 75px;

  display: flex;
  justify-content: right;
}

.drag-drop-header-name-left {
  width: 442px;
  height: 75px;

  display: flex;
  justify-content: space-between;
}

.drag-drop-header-name-right {
  width: 308px;
  height: 75px;
}

.page-section4-drag-drop-header p {
  margin: 37px 0 0 -2px;

  color: #ffffff;
  font-family: Roboto Medium;
  font-size: 31px;
  font-weight: 500;
  letter-spacing: 0;
}

.page-section4-drag-drop-header p span {
  color: #8492af;
}

.drag-drop-header-name-left i {
  margin: 51px 28px 0 0;

  width: 30px;
  height: 30px;

  scale: 1.6;
  display: flex;
  justify-content: space-between;
}

.page-section4-drag-drop-containers {
  margin: 0 0 0 100px;
  padding: 15px 0 0 48px;

  display: flex;
  justify-content: row;

  width: 876px;
  height: 500px;
}

.container-in-progress {
  margin: 0 0 0 0;
}

.container-completed {
  margin: 0 0 0 3px;
}

.container {
  width: 438px;
  height: 500px;

  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.draggable {
  margin: 12px 0 0 0;

  display: flex;
  justify-content: row;

  width: 388px;
  height: 97px;
  background-color: #ffffff;
  border: 1px solid #8492af;
}

.dropHere {
  margin: 12px 0 0 0;

  width: 388px;
  height: 97px;

  opacity: 0;
  border: 1px solid #8492af;
}

.draggable-avatar {
  width: 75px;
  height: 98px;
  text-align: center;
}

.draggable-avatar-text {
  font-size: 20px;
  color: #ffffff;
  font-family: "Roboto";
  margin-top: 30px;
  margin-left: 30px;
  line-height: 40px;
}

.draggable-avatar-border {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #5584ff;
}

.draggable-info {
  width: 285px;
  height: 98px;
}

.draggable-info-name {
  width: 285px;
  height: 20px;
}

.draggable-info-name-text {
  font-family: "Roboto";
  font-size: 18px;
  margin-top: 27px;
  margin-left: 20px;
  letter-spacing: -0.15px;
}

.draggable-info-time {
  font-family: "Roboto";
}

.draggable-info-time-icon-clock {
  margin-top: 13px;
  margin-left: 22px;
  letter-spacing: 1px;
}

.draggable-info-time-text {
  font-family: "Roboto";
  font-size: 12px;
  letter-spacing: 0.2px;
}

.draggable .icon {
  color: #8492af;
  height: 98px;
  width: 36px;
  padding-top: 41px;
}

.page-section4-description-icons {
  margin: 28px 0 0 51px;
  padding: 0 0 0 8px;

  width: 100px;
  height: 38px;
}
