.page-section3{
    background-color: #f6f7fa;
    display: flex;
    justify-content: right;

    height: 849px;
    width: 2000px;
}
.section3-image{
    align-self: right;
    height: 667px;
    width: 1047px;
}
.section3-textblock{
    margin-right: 33px ;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}
    .section3-textblock-header{
        color: #0e1a35;
        font-size: 60px;
        font-weight: 250;
        font-family: "Roboto";
        line-height: 14px;
    }
    .section3-textblock-description{
        width: 629px;
        height: 53px;
        font-size: 18px;
        line-height: 30px;
        color: #8492af;
        font-family: "Roboto";
    }
    .section3-textblock-point{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 58px;
        margin-left: 2px;
    }
        .section3-textblock-point-label{
            color: #5284ff;
            font-size: 27px; 
        }
        .section3-textblock-point-text{
            padding-left: 18px;
            font-size: 22px;
            line-height: 30px;
            color: #5584ff;
            font-weight: 400;
            font-family: "Roboto";
        }